<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-list class="top-list">
    <ion-item lines="none">
      <div class="avatar-center">
        <lottie-player src="../../../../assets/anim/data.json" background="transparent" speed="1" loop autoplay
          style="width: 130px; height: 130px;">
        </lottie-player>
      </div>
    </ion-item>

    <!-- Signup Form -->
    <form *ngIf="!otpSent" [formGroup]="signupForm" (ngSubmit)="onSendOtp()">
      <ion-list class="text-center mt-4">
        <ion-label>
          <h2 class="text-20">Create a new account</h2>
          <p class="subtitle">Fill in your details to get started</p>
        </ion-label>

        <!-- Full Name -->
        <ion-item class="custom-input mt-12 input-item" lines="none">
          <ion-icon slot="start" name="person" class="text-20"></ion-icon>
          <ion-input type="text" placeholder="Full Name" formControlName="fullName"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="submitted && fullName?.errors">
          <p *ngIf="fullName?.errors?.required">Full Name is required</p>
        </ion-text>

        <!-- Phone -->
        <ion-item class="custom-input mt-12 input-item" lines="none">
          <ion-icon slot="start" name="call" class="text-20"></ion-icon>
          <ion-input type="tel" placeholder="Phone Number" formControlName="phone"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="submitted && phone?.errors">
          <p *ngIf="phone?.errors?.required">Phone is required</p>
          <p *ngIf="phone?.errors?.pattern">Invalid phone number</p>
        </ion-text>

        <!-- Email -->
        <ion-item class="custom-input mt-12 input-item" lines="none">
          <ion-icon slot="start" name="mail" class="text-20"></ion-icon>
          <ion-input type="email" placeholder="Email Address" formControlName="email"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="submitted && email?.errors">
          <p *ngIf="email?.errors?.required">Email is required</p>
          <p *ngIf="email?.errors?.email">Invalid email format</p>
        </ion-text>

        <!-- Password -->
        <ion-item class="custom-input mt-12 input-item" lines="none">
          <ion-icon slot="start" name="lock-closed" class="text-20"></ion-icon>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="submitted && password?.errors">
          <p *ngIf="password?.errors?.required">Password is required</p>
          <p *ngIf="password?.errors?.minlength">Password must be at least 6 characters</p>
        </ion-text>

        <!-- Confirm Password -->
        <ion-item class="custom-input mt-12 input-item" lines="none">
          <ion-icon slot="start" name="lock-closed" class="text-20"></ion-icon>
          <ion-input type="password" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="submitted && confirmPassword?.errors">
          <p *ngIf="confirmPassword?.errors?.required">Confirm Password is required</p>
          <p *ngIf="signupForm?.errors?.passwordMismatch">Passwords do not match</p>
        </ion-text>

        <ion-button expand="block" type="submit" mode="ios" [disabled]="isLoading" class="text-16 mt-20">
          <ng-container *ngIf="!isLoading">Send OTP</ng-container>
          <ng-container *ngIf="isLoading">
            <ion-spinner name="crescent" slot="start"></ion-spinner>
            Sending...
          </ng-container>
        </ion-button>

        <ion-label>
          <p class="login-text text-14 mt-12" (click)="goToLogin()">
            Already have an account? <u style="color: aqua; margin-left: 5px;">Log In</u>
          </p>
        </ion-label>
      </ion-list>
    </form>

    <!-- OTP Verification -->
    <div *ngIf="otpSent" class="otp-container">

      <form [formGroup]="otpForm">

        <ion-list class="text-center mt-4">

          <ion-label>
            <h2>Verify Your Email</h2>
            <p class="subtitle">
              We’ve sent a 6-digit code to
            </p>
            <p class="email-highlight">{{ signupForm.value.email }}</p>
          </ion-label>

          <!-- ✅ ion-input-otp -->
          <ion-item lines="none" class="mt-20" style="justify-self: center;">
            <ion-input-otp formControlName="otp" length="6" size="small"
            mode="ios" fill="solid" shape="soft" inputmode="numeric"
              autocomplete="one-time-code">
            </ion-input-otp>
          </ion-item>

          <!-- ✅ Validation message (same idea as example) -->
          <ion-text color="danger" *ngIf="otp?.touched && otp?.errors">
            <p *ngIf="otp?.errors?.required">OTP is required</p>
            <p *ngIf="otp?.errors?.otpLength">OTP must be 6 digits</p>
          </ion-text>

          <ion-list style="display: grid;">

          <ion-button class="mt-20" shape="round" mode="ios"  [disabled]="otpForm.invalid || isLoading" (click)="onVerifyOtp()">
            Verify & Continue
          </ion-button>
          <ion-button class="mt-20" color="medium" shape="round" mode="ios" (click)="goBack()">
            Back to Login
          </ion-button>
        </ion-list>
        </ion-list>

      </form>
    </div>


  </ion-list>
</ion-content>
