

  <div class="notification-container">

    <ion-card
      *ngFor="let notification of notifications"
      mode="ios"
      [class.unread]="!notification.isRead">

      <ion-item lines="none">

        <ion-avatar slot="start">
          <ion-icon
            [name]="notification.icon"
            [color]="notification.color">
          </ion-icon>
        </ion-avatar>

        <ion-label>
          <h2>{{ notification.title }}</h2>
          <p>{{ notification.message }}</p>
          <span class="time">{{ notification.time }}</span>
        </ion-label>

        <!-- iOS Radio -->
        <ion-radio-group>
          <ion-radio
            mode="ios"
            slot="end"
            [checked]="notification.isRead"
            (ionChange)="markAsRead(notification)">
          </ion-radio>
        </ion-radio-group>

      </ion-item>


    </ion-card>

    <!-- Empty State -->
    <div *ngIf="notifications.length === 0" class="empty-state">
      <ion-icon name="notifications-off-outline"></ion-icon>
      <p>No notifications</p>
    </div>

  </div>

