@import url(../home.page.scss);

.notification-container {
  padding: 0px;
}

ion-card {
  border-radius: 12px;
  background: var(--primary-color);
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  ion-item {
    --background: transparent;
    align-items: flex-start;
  }

  ion-avatar {
    width: 42px;
    height: 42px;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    ion-icon {
      font-size: 22px;
    }
  }

  ion-label {
    h2 {
      font-size: 15px;
      font-weight: 600;
      color: var(--secondary-color);
      margin-bottom: 4px;
    }

    p {
      font-size: 13px;
      color: #d1d1d1;
      margin-bottom: 6px;
    }

    .time {
      font-size: 11px;
      color: #9e9e9e;
    }
  }

  ion-button {
    margin-top: 4px;
  }
}

/* Unread Notification */
.unread {
  border-left: 4px solid var(--ion-color-danger);
}

/* Empty State */
.empty-state {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 80px;
    opacity: 0.4;
    margin-bottom: 16px;
  }

  p {
    font-size: 1.1rem;
  }
}

/* Responsive */
@media (min-width: 768px) {
  .notification-container {
    max-width: 700px;
    margin: auto;
  }
}


ion-radio {
  --color: #9e9e9e;      // unchecked
  --color-checked: #34c759; // iOS green
}
