<!-- Card List -->
<div class="card-container">
  <ion-card *ngFor="let item of items" mode="ios">
    <ion-item class="card-item" lines="none" (click)="onCardClick(item)">

      <img [src]="item.image" [alt]="item.title" class="card-image" />

      <ion-list class="card-details">
        <div class="card-title">{{ item.title }}</div>

        <div class="card-info">
          <!-- Price -->
          <span class="card-info-item-price">
            <ion-icon name="pricetag-outline"></ion-icon>
            <span>{{ item.price }}</span>
          </span>

          <!-- Time -->
          <span class="card-info-item">
            <ion-icon name="time-outline"></ion-icon>
            <span>{{ item.time | date :'dd MMM yy'}}</span>
          </span>

          <!-- Location -->
          <span class="card-info-item" style="justify-content:right">
            <ion-icon name="location-outline"></ion-icon>
            <span>24.56, 45.65</span>
          </span>
        </div>

        <div class="card-info">
          <!-- Component -->
          <span class="card-info-item" style="justify-content: left; color: var(--primary-color);;">
            <ion-icon name="chatbubbles"></ion-icon>
            <span>{{ item.price/50 }}</span>
          </span>

          <!-- User Initial instead of icon -->
          <span class="card-info-item user-initial"  style="justify-content:right">
            <span class="initial-circle">{{ item.user?.displayName?.charAt(0) }}</span>
            <span>{{ item.user?.displayName }}</span>
          </span>

        </div>

      </ion-list>

    </ion-item>
  </ion-card>

  <!-- Empty State -->
  <div *ngIf="items.length === 0" class="empty-state">
    <ion-icon name="basket-outline" size="large"></ion-icon>
    <p>No items available</p>
  </div>
</div>
