<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="chat-list">
    <div *ngFor="let chat of chats"
         class="chat-item"
         (click)="openChat(chat)">
      <div class="avatar-container">
        <div class="avatar" [style.background]="chat.avatarColor">
          {{ chat.initials }}
        </div>
        <span class="online-indicator" *ngIf="chat.online"></span>
      </div>

      <div class="chat-info">
        <div class="chat-header">
          <h3 class="chat-name">{{ chat.name }}</h3>
          <span class="chat-time">{{ chat.time }}</span>
        </div>
        <div class="chat-preview">
          <p class="last-message" [class.unread]="chat.unread">
            {{ chat.lastMessage }}
          </p>
          <span class="unread-badge" *ngIf="chat.unread">{{ chat.unreadCount }}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
