<app-global-header [showBack]="true" title="Technicians" [rightIcon]="'options-outline'"
  (rightIconClick)="onHeaderMenuClick()">
</app-global-header>

<ion-content [fullscreen]="true" scrollY="false">
  <app-global-search placeholder="Search ..." (searchChange)="onSearchValue($event)">
  </app-global-search>

  <div class="list-wrap ion-padding">
    <div *ngFor="let user of users" class="user-card mb-4" (click)="assigningListDetail(user)">
      <div class="w100per d-flex ">
        <img [src]="user.avatar" class="avatar" />
        <div class="user-info w100per align-content-center">
          <div class="w100per d-flex">
            <div class="w70per">
              <div class="name-row">
                <div class="ff fw500 text-color text-14">{{ user.name }}</div>
              </div>
            </div>
            <div class="w30per time_container">
              <div class=" d-flex ff fw500 text-10 align-items-center status-border"
                [ngClass]="user?.assign?'clock-in-on-time':!user?.assign && !user?.time?.includes('-')?'clock-in-pending':'clock-in-pending-late'">
                <ion-icon name="stopwatch-outline"></ion-icon>
                <span class="ml-4">{{user.time}}</span>
              </div>
            </div>
          </div>
          <div class="w100per mt-4 d-flex" *ngIf="user.assign">
            <ion-icon src="assets/svg/assign_icon.svg" class="text-14 text-success"></ion-icon>
            <span class="ff fw500 text-10 text-success ml-5">Task Assigned</span>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>