<ion-card *ngFor="let device of devices" class="theme-card">
  <ion-card-content (click)="onDeviceClick(device)">
    <ion-row class="device-row" align-items-center>

      <ion-col size="2">
        <div class="icon-wrapper">
          <ion-icon src="../../../../assets/svg/devices-repo.svg">
          </ion-icon>
        </div>
      </ion-col>
      <ion-col size="10">
        <div class="imei-section">
          <ion-text class="imei-text text-color">{{ device.imei }}</ion-text>
        </div>
        <div class="title-section">
          <ion-text class="title-line sub-title-color">{{ device.title }}</ion-text>
        </div>
      </ion-col>
    </ion-row>


    <div class="divider-1px"></div>
    <ion-item class="status-section item-secondary" lines="none">
      <ion-chip [class]="getStatusClass(device.status)" class="status-chip" slot="start">
        <ion-icon [name]="getStatusIcon(device.status)"></ion-icon>
        <ion-label>{{ device.status | titlecase }}</ion-label>
      </ion-chip>
      <ion-item slot="end" class="item-secondary" lines="none">
        <div class="status-item">
          <ion-icon name="time-outline" class="status-icon"></ion-icon>
          <ion-text class="time-text">{{device.time}}</ion-text>
        </div>
      </ion-item>
    </ion-item>
  </ion-card-content>
</ion-card>
