<app-global-header [showBack]="true" title="Devices List" rightIcon="add-outline"></app-global-header>
<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-global-search placeholder="Search for devices" (searchChange)="onSearchValue($event)">
    </app-global-search>
    <div class="devices-list">
      <ion-card *ngFor="let device of devices" button (click)="openDevice(device)">
        <ion-card-content>
          <div class="device-header">
            <ion-text class="device-imei">{{device.imei}}</ion-text>
            <ion-chip [color]="device.status === 'completed' ? 'success' : 'warning'" mode="ios">
              {{device.status | titlecase}}
            </ion-chip>
          </div>

          <ion-text class="device-title">{{device.title}}</ion-text>

          <div class="device-details">
            <ion-text class="device-description">{{device.description}}</ion-text>
            <ion-note class="device-time">{{device.time}}</ion-note>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>