.avatar-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 125px;
  height: 125px;
}

.top-list {
  padding: 12px 24px 24px;
  height: 100%;
  align-content: center;
}

ion-label {
  color: var(--text-color);

  h1 {
    font-weight: bold;
  }

  .paragraph {
    margin: 0px 0px 20px 0px;
    font-weight: 500;
  }

  .forgot-text {
    text-align: end;
    font-weight: 500;
    color: var(--text-color);
  }
}

ion-text{
  p{
    margin: 0px;
    font-size: 12px;
  }
}

ion-content , ion-item , ion-list{
  --background: var(--primary-color);
  background: var(--primary-color);
}

ion-button{
  color: var(--text-color);
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  --background: #e97c00; // #0f6b42
  --background-hover: #ff9f32;
  --background-activated: #ff9f32;
}

.custom-input{
  --background: var(--secondary-color) !important;
  --color: var(--text-color) !important;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.8;
  --padding-bottom: 2px;
  --padding-end: 0px;
  --padding-start: 12px;
  --padding-top: 2px;
  --border-radius: 6px;

}
