ion-content {
  --background: var(--background-color);
}

ion-list {
  background: var(--background-color);
}

ion-button {
  --background: var(--primary-color);
  color: var(--text-color);
}

ion-item,
ion-input {
  --background: transparent !important;
  color: var(--text-color);

}

.avatar-center {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

ion-avatar {
  width: 175px;
  height: 175px;
  --border-radius: 0%;
}

.top-list {
  padding: 24px;

}

.login_top_image {
  margin-top: 20%;
}


.input-list {
  margin-top: 5%;
}

ion-label {
  color: var(--text-color);

  h1 {
    font-weight: bold;
  }

  .paragraph {
    margin: 0px 0px 20px 0px;
    font-weight: 500;
  }

  .forgot-text {
    text-align: end;
    font-weight: 500;
  }
}