ion-item,
ion-input {
  --background: transparent !important;
  color: var(--text-color);

}

.avatar-center {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo {
  width: 125px;
  height: 125px;
  fill: var(--logo-color);
}

.top-list {
  padding: 24px;
}

.login_top_image {
  margin-top: 20%;
}

.input-list {
  margin-top: 5%;
  text-align: center;
}

ion-label {
  color: var(--text-color);

  h1 {
    font-weight: bold;
  }

  .paragraph {
    margin: 0px 0px 20px 0px;
    font-weight: 500;
  }

  .forgot-text {
    text-align: end;
    font-weight: 500;
    color: var(--text-color);
  }
}


ion-text {
  p {
    margin: 5px 0px 0px 0px;
    font-size: 13px;
  }
}