.avatar-center {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

ion-avatar{
  width: 175px;
  height: 175px;
  --border-radius: 0%;
}

.top-list{
  padding: 16px;
  margin-top: 10%;
}

.input-list{
  margin-top: 5%;
}

ion-label {
  h1{
    color: #fff;
    font-weight: bold;
  }

  .paragraph {
    margin: 0px 0px 20px 0px;
    font-weight: 500;
  }

  .forgot-text{
    text-align: end;
    font-weight: 500;
    color: #fff;
  }
}

ion-button{
  color: #fff;
}

ion-text{
  p{
    margin: 5px 0px 0px 0px;
    font-size: 13px;
  }
}

ion-content , ion-item , ion-list{
  --background: #101729;
  background: #101729;
}

ion-button{
  --background: linear-gradient(52.37deg, #FFA05C 9.79%, #F06500 100.17%);
}
