.scanner-content {
  background: #000;
  position: relative;
  overflow: hidden;
}

body.scanner-active .scanner-content {
  --background: transparent !important;
  background: transparent !important;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  box-shadow: 0 0 0 1000vh rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: 1;
}

ion-header,
ion-content,
ion-toolbar,
ion-item {
  --background: transparent !important;
}

.scan-area {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  border: 3px solid #00ff00;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
  pointer-events: none;
  z-index: 2;
}

.footer-button {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background: transparent;
  justify-content: center;
  display: flex;
  z-index: 3;
}

.torch-btn {
  position: absolute;
  top: calc(50% + 250px / 2 + 20px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}