<app-global-header [showBack]="true" title="Devices List" rightIcon="ellipsis-vertical"
  (rightIconClick)="onHeaderMenuClick()">
</app-global-header>

<ion-content [fullscreen]="true">
  <app-global-search placeholder="Search for devices" (searchChange)="onSearchValue($event)">
  </app-global-search>

  <app-global-segment [segments]="['Devices', 'Parts']" (segmentChanged)="filterData($event)">
  </app-global-segment>

  <!-- Show Devices List only if segment is 'Devices' -->
  <app-devices-list *ngIf="selectedSegment === 'Devices'"></app-devices-list>

  <!-- Show Parts List only if segment is 'Parts' -->
  <app-parts-list *ngIf="selectedSegment === 'Parts'"></app-parts-list>
</ion-content>