.icon-wrapper {
    width: 40px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
        color: #fff;
        font-size: 24px !important;
    }
}

.imei-section .imei-text {
    font-weight: 700;
    font-size: 16px;
}

.title-section {
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary {
    color: var(--text-secondary);
}