<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()" class="close-button">Close</ion-button>
    </ion-buttons>

    <ion-title class="text-color text-center text-16">Time In Progress</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()" class="done-button">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-card mode="ios">
      <ion-card-content class="ion-text-center">

        <!-- Time -->
        <div class="timer-row">
          <span class="timer-value">{{ hours }}</span>
          <span class="timer-separator">:</span>
          <span class="timer-value">{{ minutes }}</span>
          <span class="timer-separator">:</span>
          <span class="timer-value">{{ seconds }}</span>
        </div>

        <!-- Labels -->
        <div class="timer-label-row">
          <span>Hours</span>
          <span></span>
          <span>Minutes</span>
          <span></span>
          <span>Seconds</span>
        </div>

      </ion-card-content>
    </ion-card>

    <!-- Issues header -->
    <ion-item lines="none" class="issue-header">
      <ion-icon  slot="start" name="alert-circle-outline" class="icon-color"></ion-icon>
      <ion-label>
        <p class="text-color">Issues</p>
      </ion-label>

      <ion-label slot="end">
        <p class="text-grey">04 Total</p>
      </ion-label>
    </ion-item>

    <!-- Issue item -->
    <ion-list class="issue-list">
      <ion-item lines="none" class="issue-item" *ngFor="let issue of [0,1,2,3]">

        <ion-avatar slot="start" class="issue-avatar">
          <ion-img src="../../../../assets/svg/phonelink.svg"></ion-img>
        </ion-avatar>

        <ion-label>
          <p class="text-color">Touchscreen Problem</p>
          <p class="text-grey-code">{{issue}}878787878787</p>
        </ion-label>

      </ion-item>
    </ion-list>

  </ion-list>
</ion-content>
