<app-global-header [showBack]="true" title="Received Devices" [rightIcon]="'options-outline'" [showPopOver]="true"
  (rightIconClick)="onHeaderMenuClick()"></app-global-header>


<ion-popover trigger="receiver-trigger" triggerAction="click" mode="md">
  <ng-template>
    <ion-content scrollY="false">
      <ion-list>
        <ion-item (click)="changeTheme()" class="text-color">First Name</ion-item>
        <ion-item lines="none" (click)="logout()" class="text-color">Last Name</ion-item>
        <ion-item lines="none" (click)="logout()" class="text-color">Most Done</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content>
  <app-global-search placeholder="Search for activity" (searchChange)="onSearchValue($event)">
  </app-global-search>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card class="stat-card no-padding" mode="ios">
          <ion-card-content class="stat-body">
            <ion-icon name="cube-outline" class="stat-icon" aria-hidden="true"></ion-icon>
            <div class="stat-number">48</div>
            <div class="stat-label">Total</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="stat-card stat-done no-padding" mode="ios">
          <ion-card-content class="stat-body">
            <ion-icon name="checkmark-outline" class="stat-icon" aria-hidden="true"></ion-icon>
            <div class="stat-number">32</div>
            <div class="stat-label">Done</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="stat-card stat-return no-padding" mode="ios">
          <ion-card-content class="stat-body">
            <ion-icon name="refresh-outline" class="stat-icon" aria-hidden="true"></ion-icon>
            <div class="stat-number">16</div>
            <div class="stat-label">Return</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="list-wrap ion-padding" (click)="openDevicesDetails()">
    <div *ngFor="let user of users" class="user-card">
      <div class="user-left">
        <img [src]="user.avatar" class="avatar" />
        <div class="user-info">
          <div class="name-row">
            <div class="name">{{ user.name }}</div>
            <div class="status" [ngClass]="{'online': user.online, 'offline': !user.online}">
              {{ user.online ? 'Online' : 'Offline' }}
            </div>
          </div>

          <div class="counts">
            <span class="sep">Total: <span class="theme">{{ user.total }}</span></span>
            <span class="sep">Done: <span class="green">{{ user.done }}</span></span>
            <span class="sep">Return: <span class="purple">{{ user.return }}</span></span>
          </div>
        </div>
      </div>

      <div class="user-right">
        <div class="progress-circle" [style.--percent]="user.progress + '%'">
          <div class="progress-inner">
            <div class="percent">{{ user.progress }}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>