.toolbar-dark {
    --background: var(--primary-color) !important;
    background: var(--primary-color) !important;
}

.header-btn {
    background-color: transparent !important;
    --background: : transparent !important;
}