<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-dark">

    <!-- Left Back Button -->
    <ion-buttons slot="start" *ngIf="showBack">
      <ion-button fill="clear" (click)="goBack()" class="header-btn">
        <ion-icon name="arrow-back-outline" style="color: var(--text-color)"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Center Title -->
    <ion-title class="header-title">{{ title }}</ion-title>

    <!-- Right Icon Button -->
    <ion-buttons slot="end" *ngIf="rightIcon">
      <ion-button fill="clear" (click)="onRightIconClick()" class="header-btn">
        <ion-icon [name]="rightIcon" style="color: var(--text-color)"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>