.avatar-center {
  width: 100%;
  height: 100%;
  padding: 50% 0 0 0;
  text-align: center;
  position: relative;
}

.logo {
  height: 150px;
  width: 150px;
  fill: var(--logo-color);
}

h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.38%;
  text-align: center;
}

p {
  line-height: 34px;
  letter-spacing: 0.38%;
  text-align: center;
  line-height: 34px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400;
}

ion-label {
  color: var(--text-color);

  h1 {
    font-weight: bold;
  }

  .paragraph {
    margin: 0px 0px 20px 0px;
    font-weight: 500;
  }

  .forgot-text {
    text-align: end;
    font-weight: 500;
    color: var(--text-color);
  }
}

.text_color {
  color: var(--text-color);
}

ion-button {
  position: absolute;
  bottom: 30px;
  width: 94%;
  margin: 0px 3%;
}

ion-content,
ion-item,
ion-list {
  --background: var(--primary-color);
  background: var(--primary-color);
}

ion-button {
  --background: var(--button-color);
  color: var(--btn-text-color);
}