ion-content {
  --background: var(--primary-color); // #0d0d0d //#fcfcfc;
}

.avatar-center {
  width: 100%;
  height: 100%;
  padding: 50% 0 0 0;
  text-align: center;
  position: relative;
  justify-items: center;
}

.logo{
  height: 150px;
  width: 150px;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #fafafa; //1b1b1b
}

p{
  color: #848484;
  font-weight: 500;
}

ion-button{
  position: absolute;
  bottom: 30px;
  width: 94%;
  margin: 0px 3%;
  --background: #e97c00; // #0f6b42
  --background-hover: #ff9f32;
  --background-activated: #ff9f32;
  color: white;
}
