ion-content {
  --background: #101729;
}

.avatar-center {
  width: 100%;
  height: 100%;
  padding: 50% 0 0 0;
  text-align: center;
  position: relative;
}

.logo{
  height: 150px;
  width: 150px;
}

h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.38%;
  text-align: center;
}

ion-button{
  position: absolute;
  bottom: 30px;
  width: 94%;
  margin: 0px 3%;
  --background: linear-gradient(52.37deg, #FFA05C 9.79%, #F06500 100.17%);
  color: white;
}
