ion-toolbar {
  --background: var(--primary-color);
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
}

.stats-card {
  background: var(--secondary-color);
  /* Dark card background */
  border-radius: 12px;
  padding: 0;
  box-shadow: none;
  border: 1px solid var(--card-border-color);
}

.p8px {
  padding: 8px;
}

.assign_border {
  border-radius: 8px;
  background: var(--button-color);
}

.item_padding {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

.card_padidng {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.card_content {
  padding-inline-start: 3px;
  padding-inline-end: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.stats-row {
  text-align: center;
  justify-content: space-between;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-wrap {
  margin-top: 0px;
  padding-top: 0px;
  --padding-top: var(--ion-padding, 0px);
}

ion-chip {
  background: var(--background-color);
  color: var(--button-color);
  margin-inline-start: 0px;
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
  margin-top: 0px;
}

.device-row {
  align-items: center; // Vertically center all columns
}

.left-col {
  max-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-icon-left {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 8px;
  background: var(--button-color);
  fill: var(--btn-text-color);
}

.middle-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chip-row {
  margin-top: 4px;
}

.right-col {
  max-width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.arrow-icon {
  width: 22px;
  height: 22px;
  color: var(--sub-title-color);
}

.chip-row {
  display: flex;
  align-items: center;
  justify-content: flex-start; // left align
  gap: 6px; // reduce spacing between chips
}

.chip-small {
  height: 28px; // optional: smaller height
}