.p8px {
  padding: 8px;
}


.stats-row {
  text-align: center;
  justify-content: space-between;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.device-row {
  align-items: center;
}

.left-col {
  max-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-icon-left {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 8px;
  background: var(--button-color);
  fill: var(--btn-text-color);
}

.part-icon-left {
  width: 30px;
  height: 30px;
  border-radius: 12px;
  padding: 8px;
  background: var(--button-color);
  fill: var(--btn-text-color);
}

.middle-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chip-row {
  margin-top: 4px;
}

.right-col {
  max-width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.arrow-icon {
  width: 22px;
  height: 22px;
  color: var(--sub-title-color);
}

ion-fab-button {
  --background: var(--button-color);
  --background-activated: var(--button-color);
  --background-hover: var(--button-color);
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: var(--btn-text-color);
}