<app-global-header [showBack]="true" title="Devices" rightIcon="checkmark-circle-outline"
  iconFromAssets="assets/svg/assign_icon.svg" [showRightButton]="true" [buttonText]="'Assign'"></app-global-header>

<ion-content [scrollY]="false">
  <app-global-search [placeholder]="selectedSegment==segmentEnum.DEVICES?'Search for devices':'Search for parts'"
    (searchChange)="onSearchValue($event)">
  </app-global-search>

  <ion-card class="theme-card mb-10">
    <ion-card-content>
      <ion-grid>
        <ion-row class="stats-row">
          <ion-col class="stat-box">
            <div class="ff fw600 text-22  text-color">08</div>
            <div class="ff fw400 text-10 sub_title_color">Total</div>
          </ion-col>

          <ion-col class="stat-box">
            <div class="ff fw600 text-22  text-color">06</div>
            <div class="ff fw400 text-10 sub_title_color">Devices</div>
          </ion-col>

          <ion-col class="stat-box">
            <div class="ff fw600 text-22  text-color">02</div>
            <div class="ff fw400 text-10 sub_title_color">Parts</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <app-global-segment [segments]="[segmentEnum.DEVICES,segmentEnum.PARTS]" (segmentChanged)="filterData($event)">
  </app-global-segment>

  <ng-container *ngIf="selectedSegment==segmentEnum.DEVICES; else partView">
    <ion-card class="theme-card" *ngFor="let device of [1,2,3,4]">
      <ion-card-content>
        <ion-grid>
          <ion-row class="device-row">

            <!-- LEFT ICON -->
            <ion-col class="left-col">
              <ion-icon src="assets/svg/phone_icon.svg" class="device-icon-left"></ion-icon>
            </ion-col>

            <!-- MIDDLE CONTENT -->
            <ion-col class="middle-col">
              <div class="ff fw600 text-14 text-color">343434788348343XXX</div>
              <ion-row>
                <ion-chip class="theme-chip"><ion-label>iPhone 7</ion-label>
                </ion-chip>
                <ion-chip class="theme-chip"><ion-label>Grade B </ion-label></ion-chip>
              </ion-row>
              <div class="ff fw500 text-12 sub_title_color">Unlocked</div>
            </ion-col>

            <!-- RIGHT ARROW ICON -->
            <ion-col class="right-col ion-text-end">
              <ion-icon name="chevron-forward" class="arrow-icon"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #partView>
    <ion-card class="theme-card" *ngFor="let part of partsList">
      <ion-card-content>
        <ion-grid>
          <ion-row class="device-row">

            <!-- LEFT ICON -->
            <ion-col class="left-col">
              <ion-icon src="assets/svg/parts.svg" class="part-icon-left"></ion-icon>
            </ion-col>

            <!-- MIDDLE CONTENT -->
            <ion-col class="middle-col">
              <div class="ff fw600 text-14 text-color">{{part?.name}}</div>
              <div class="ff fw400 text-12 sub_title_color mt-4">{{part?.detail}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-template>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon src="assets/svg/qrcode_scan.svg" *ngIf="selectedSegment==segmentEnum.DEVICES; else addIcon"></ion-icon>
      <ng-template #addIcon>
        <ion-icon name="add"></ion-icon>
      </ng-template>
    </ion-fab-button>
  </ion-fab>
</ion-content>