// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --primary-color: #101729;
  --secondary-color: #1D2031;
  --text-color: #ffffff;
  --btn-text-color: #ffffff;
  --logo-color: #ffffff;
  --button-color: #e97c00;
  --button-press-color: #ff9f32;
  --border-effect: #000000;
  --sub-title-color: #848484;
  --card-border-color: #cfd3d23a;
  --background-progress: #333333;
  --completed-color: #38a876;
  --pending-color: #f59e0b;
  --returned-color: #8b5cf6;
  --clock-in-on-time: #667EEA;
  --clock-in-pending: #7C7F90;
  --clock-in-pending-late: #F87171;
}

.theme-default {
  --primary-color: #101729;
  --secondary-color: #1D2031;
  --text-color: #ffffff;
  --btn-text-color: #ffffff;
  --logo-color: #ffffff;
  --button-color: #e97c00;
  --button-press-color: #ff9f32;
  --border-effect: #000000;
  --background-progress: #333333;
  --completed-color: #14CC8A;
  --pending-color: #f59e0b;
  --returned-color: #8b5cf6;
}

.theme-blue {
  --secondary-color: #ebf0ef;
  --primary-color: #f1fff8;
  --background-color: #f1fff8;
  --text-color: #000000;
  --btn-text-color: #ffffff;
  --logo-color: #4ABCFD;
  --button-color: #26b5fc;
  --border-effect: #cbcbcb;
  --theme-text-color: #4ABCFD;
  --button-color: #26b5fc;
  --card-border-color: #cfd3d2;
  --background-progress: #c8c8c8;
  --completed-color: #14CC8A;
  --pending-color: #f59e0b;
  --returned-color: #8b5cf6;
}

.theme-dark {
  --primary-color: #121212;
  --secondary-color: #1e1e1e;
  --background-color: #101729;
  --text-color: #ffffff;
  --btn-text-color: #ffffff;
  --logo-color: #ffffff;
  --button-color: #e97c00; //ff9f32
  --button-press-color: #ff9f32;
  --border-effect: #000000;
  --background-progress: #333333;
  --completed-color: #14CC8A;
  --pending-color: #f59e0b;
  --returned-color: #8b5cf6;
}

.theme-light {
  --primary-color: #fafafa;
  --secondary-color: #efefef;
  --text-color: #545454;
  --logo-color: #ffffff;
  --button-color: #0f6b42;
  --button-press-color: #38a876;
  --border-effect: #cbcbcb;
  --background-progress: #c8c8c8;
  --completed-color: #14CC8A;
  --pending-color: #f59e0b;
  --returned-color: #8b5cf6;
}

.theme-darkblue {
  --primary-color: #fafafa;
  --secondary-color: #efefef;
  --text-color: #545454;
  --logo-color: #ffffff;
  --button-color: #2c48a7;
  --button-press-color: #678afb;
  --border-effect: #cbcbcb;
  --background-progress: #c8c8c8;
  --completed-color: #14CC8A;
  --pending-color: #f59e0b;
  --returned-color: #8b5cf6;
}