// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  /* Default Theme */
  --primary-color: #101729;
  --secondary-color: #1D2031;
  --text-color: #ffffff;
  --btn-text-color: #ffffff;
  --logo-color: #ffffff;
  --button-color: #e97c00;
  --button-press-color: #ff9f32;

}

/* Theme 1 – Blue */
.theme-blue {
  --secondary-color: #ebf0ef;
  --primary-color: #f1fff8;
  --background-color: #f1fff8;
  --text-color: #000000;
  --btn-text-color: #ffffff;
  --logo-color: #4ABCFD;
  --button-color: #26b5fc;
}

/* Theme 2 – Dark */
// .theme-black {
//   --primary-color: #ffffff;
//   --background-color: #ffffff;
//   --text-color: #662bf9;
//   --btn-text-color: #ffffff;
//   --logo-color: #662bf9;
//   --button-color: linear-gradient(to right, #b59feee8, #3300f7);
// }


.theme-dark{
  --primary-color: #121212;
  --secondary-color: #1e1e1e;
  --background-color: #101729;
  --text-color: #ffffff;
  --btn-text-color: #ffffff;
  --logo-color: #ffffff;
  --button-color: #e97c00; //ff9f32
  --button-press-color: #ff9f32;
}

.theme-light{
  --primary-color: #fafafa;
    --secondary-color: #efefef;
    --text-color: #545454;
    --logo-color: #ffffff;
    --button-color: #0f6b42;
    --button-press-color: #38a876;
}

.theme-darkblue{
  --primary-color: #fafafa;
  --secondary-color: #efefef;
  --text-color: #545454;
  --logo-color: #ffffff;
  --button-color: #2c48a7;
  --button-press-color: #678afb;
}
