// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  /* Default Theme */
  --primary-color: #101729;
  --secondary-color: #1D2031;
  --text-color: #ffffff;
  --btn-text-color: #ffffff;
  --logo-color: #ffffff;
  // --button-color: linear-gradient(52.37deg, #FFA05C 9.79%, #F06500 100.17%);
  --button-color: #e97c00;
  --button-press-color: #ff9f32;

}

/* Theme 1 – Blue */
.theme-blue {
  --secondary-color: #ebf0ef;
  --primary-color: #f1fff8;
  --background-color: #f1fff8;
  --text-color: #000000;
  --btn-text-color: #ffffff;
  --logo-color: #4ABCFD;
  --button-color: #26b5fc
}

/* Theme 2 – Dark */
.theme-dark {
  --primary-color: #ffffff;
  --background-color: #ffffff;
  --text-color: #662bf9;
  --btn-text-color: #ffffff;
  --logo-color: #662bf9;
  --button-color: linear-gradient(to right, #b59feee8, #3300f7);
}

/* Theme 3 – Green */
.theme-green {
  --primary-color: #f1fff8;
  --background-color: #f1fff8;
  --text-color: #0f5132;
  --btn-text-color: #f1fff8;
  --logo-color: #0f5132;
  --button-color: linear-gradient(to right, #648b72e8, #0f5132);
}