// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  /* Default Theme */
  --primary-color: #101729;
  --secondary-color: #1D2031;
  --text-color: #ffffff;
  --btn-text-color: #ffffff;
  --logo-color: #ffffff;
  --button-color: #e97c00;
  --button-press-color: #ff9f32;
}

/* Theme 1 – Blue */
.theme-blue {
  --primary-color: #ffffff;
  --background-color: #ffffff;
  --text-color: #4ABCFD;
  --btn-text-color: #ffffff;
  --logo-color: #4ABCFD;
  --button-color: linear-gradient(to right, #4abcfd8f, #00adf7);
}

/* Theme 2 – Dark */
.theme-black {
  --primary-color: #ffffff;
  --background-color: #ffffff;
  --text-color: #662bf9;
  --btn-text-color: #ffffff;
  --logo-color: #662bf9;
  --button-color: linear-gradient(to right, #b59feee8, #3300f7);
}

/* Theme 3 – Green */
.theme-green {
  --primary-color: #f1fff8;
  --background-color: #f1fff8;
  --text-color: #0f5132;
  --btn-text-color: #f1fff8;
  --logo-color: #0f5132;
  --button-color: linear-gradient(to right, #648b72e8, #0f5132);
}

.theme-dark{
  --primary-color: #121212;
  --secondary-color: #1e1e1e;
  --background-color: #101729;
  --text-color: #ffffff;
  --btn-text-color: #ffffff;
  --logo-color: #ffffff;
  --button-color: #e97c00;
  --button-press-color: #ff9f32;
}

.theme-light{
  --primary-color: #fafafa;
    --secondary-color: #efefef;
    --text-color: #545454;
    --logo-color: #ffffff;
    --button-color: #0f6b42;
    --button-press-color: #38a876;
}

.theme-darkblue{
  --primary-color: #fafafa;
  --secondary-color: #efefef;
  --text-color: #545454;
  --logo-color: #ffffff;
  --button-color: #2c48a7;
  --button-press-color: #678afb;
}
