<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'add' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- ✅ Reactive Form Wrapper -->
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">

    <ion-list>

      <!-- Image (no control needed yet) -->
      <ion-item lines="none">
        <div class="select_img" (click)="pickSingleImage()">
          <div class="sub_select">
            <ion-icon name="camera" style="font-size: 32px;" class="add_icon"></ion-icon>
            <ion-text>Add Image</ion-text>
          </div>
        </div>
      </ion-item>

      <!-- Location -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="location">{{ 'location' | translate }}</ion-text>
            <ion-text class="change_location">{{ 'set_location' | translate }}</ion-text>
          </div>
        </div>
      </ion-item>

      <!-- Subject -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject">{{ 'offer_subject' | translate }}</ion-text>
            <ion-input
              class="change_subject"
              formControlName="title"
              placeholder="e.g: Honda 125">
            </ion-input>
          </div>
        </div>
      </ion-item>

      <!-- Price -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject">{{ 'price' | translate }}</ion-text>
            <ion-input
              class="change_subject"
              type="number"
              formControlName="price"
              placeholder="e.g: 100">
            </ion-input>
          </div>
        </div>
      </ion-item>

      <!-- Section -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject">{{ 'section' | translate }}</ion-text>
            <ion-item lines="none">
              <ion-label style="color: #0e0e0e;">{{ 'select' | translate }}</ion-label>
              <ion-select
                formControlName="section"
                class="change_subject"
                interface="popover">
                <ion-select-option *ngFor="let s of sections" [value]="s">
                  {{ s }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </div>
      </ion-item>

      <!-- Condition (FIXED) -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject">{{ 'condition_label' | translate }}</ion-text>
            <ion-item lines="none">
              <ion-label style="color: #0e0e0e">{{ 'select' | translate }}</ion-label>
              <ion-select
                formControlName="condition"
                class="change_subject"
                interface="popover">
                <ion-select-option *ngFor="let c of conditions" [value]="c">
                  {{ c }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </div>
      </ion-item>

      <!-- Description -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject">{{ 'description_label' | translate }}</ion-text>
            <ion-textarea
              class="change_subject"
              formControlName="description"
              placeholder="{{ 'enter_description' | translate }}">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <!-- Submit -->
      <ion-button expand="block" mode="ios" type="submit">
        {{ 'submit' | translate }}
      </ion-button>

    </ion-list>
  </form>

</ion-content>
