<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" style="color: var(--secondary-color) !important;"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'add' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <ion-list>

      <!-- Image Picker -->
      <ion-item lines="none">
        <div class="select_img" (click)="pickSingleImage()" *ngIf="!pickedImage?.dataUrl">
          <div class="sub_select">
            <ion-icon name="camera" style="font-size: 32px;" [slot]="selectedLanguage=='en' ? 'start':'end'" class="add_icon"></ion-icon>
            <ion-text>{{ 'add_image' | translate }}</ion-text>
          </div>
        </div>
        <div *ngIf="pickedImage?.dataUrl" class="picked-image-container" (click)="pickSingleImage()">
          <img [src]="pickedImage.dataUrl" alt="Selected Image" class="picked-image" />
        </div>
      </ion-item>

      <!-- Location -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="location" [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
              {{ 'location' | translate }}
            </ion-text>
            <ion-item lines="none" *ngIf="productLocation">
              <ion-label style="color: black;">
                {{ 'location' | translate }}:
                Lat: {{ productLocation.lat | number:'1.6-6' }},
                Lng: {{ productLocation.lng | number:'1.6-6' }}
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-item>

      <!-- Title / Subject -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject" style="color: #343434;" [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
              {{ 'offer_subject' | translate }}
            </ion-text>
            <ion-input class="change_subject" formControlName="title" placeholder="e.g: Honda 125"
              [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
            </ion-input>
          </div>
        </div>
      </ion-item>

      <!-- Price -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject" [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
              {{ 'price' | translate }}
            </ion-text>
            <ion-input class="change_subject" type="number" formControlName="price" placeholder="e.g: 100"
              [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
            </ion-input>
          </div>
        </div>
      </ion-item>

      <!-- Section -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject" [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
              {{ 'section' | translate }}
            </ion-text>
            <ion-select
              formControlName="section"
              interface="popover"
              class="change_subject arabic"
              [slot]="selectedLanguage=='en' ? 'end':'start'"
              [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
              <ion-select-option *ngFor="let s of category" [value]="s.key">
                {{ selectedLanguage === 'en' ? s.en : s.ar }}
              </ion-select-option>
            </ion-select>
          </div>
        </div>
      </ion-item>

      <!-- Condition -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject" [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
              {{ 'condition_label' | translate }}
            </ion-text>
            <ion-select
              formControlName="condition"
              interface="popover"
              class="change_subject arabic"
              [slot]="selectedLanguage=='en' ? 'end':'start'"
              [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
              <ion-select-option *ngFor="let c of conditions" [value]="c">
                {{ c }}
              </ion-select-option>
            </ion-select>
          </div>
        </div>
      </ion-item>

      <!-- Description -->
      <ion-item lines="none">
        <div class="select_location">
          <div class="sub_select_location">
            <ion-text class="subject" [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
              {{ 'description_label' | translate }}
            </ion-text>
            <ion-textarea class="change_subject" formControlName="description"
              placeholder="{{ 'enter_description' | translate }}"
              [style.text-align]="selectedLanguage=='en' ? 'start':'end'">
            </ion-textarea>
          </div>
        </div>
      </ion-item>

      <!-- Submit -->
      <ion-button expand="block" mode="ios" type="submit">
        {{ 'submit' | translate }}
      </ion-button>

    </ion-list>
  </form>
</ion-content>
