.user-card {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}


.user-left {
    display: flex;
    align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
  box-shadow: 0 6px 18px #0000001c;
}

.name-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-weight: 600;
    font-size: 13px;
    color: var(--text-color);
}


.status-chip {
    font-size: 10px;
    color: #fff;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 24px;
}

.status-chip ion-icon {
    font-size: 15px;
    width: 15px;
    height: 15px;
    margin-inline-end: 4px;
}

.chip-completed {
    color: var(--completed-color);
    --background: color-mix(in srgb, var(--completed-color) 15%, transparent);

    ion-icon {
        color: var(--completed-color);
    }
}

.chip-pending {
    color: var(--pending-color);
    --background: color-mix(in srgb, var(--pending-color) 15%, transparent);

    ion-icon {
        color: var(--pending-color);
    }
}

.counts {
    font-size: 12px;
    color: var(--muted);
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.count {
    font-weight: 700;
    color: var(--text-color);
    margin-right: 4px;
}


.sep {
    color: var(--sub-title-color);
    font-weight: 400;
    font-size: 12px;
}

.user-right {
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-circle {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: conic-gradient(var(--button-color) var(--percent, 0%), #8c8c8c 0%);
    position: relative;
}

.progress-circle::before {
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--secondary-color);
    display: block;
}

.progress-inner {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.percent {
    color: var(--text-color);
    font-weight: 600;
    font-size: 11px;
}
