.user-card {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}


.user-left {
    display: flex;
    align-items: center;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 12px;
    box-shadow: 0 6px 18px #0000001c;
}

.name-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
}


.status-chip {
    font-size: 12px;
    color: #fff;
}

.status-chip ion-icon {
    font-size: 16px;
    width: 18px;
    height: 18px;
}

.chip-completed {
    color: var(--completed-color);
    --background: color-mix(in srgb, var(--completed-color) 15%, transparent);

    ion-icon {
        color: var(--completed-color);
    }
}

.chip-pending {
    color: var(--pending-color);
    --background: color-mix(in srgb, var(--pending-color) 15%, transparent);

    ion-icon {
        color: var(--pending-color);
    }
}

.counts {
    font-size: 12px;
    color: var(--muted);
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.count {
    font-weight: 700;
    color: var(--text-color);
    margin-right: 4px;
}


.sep {
    color: #c8c8c8;
    font-weight: 400;
    font-size: 12px;
}

.user-right {
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: conic-gradient(var(--button-color) var(--percent, 0%), #8c8c8c 0%);
    position: relative;
}

.progress-circle::before {
    content: '';
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgb(0 0 0 / 25%), rgb(0 0 0 / 25%));
    display: block;
}

.progress-inner {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.percent {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
}