<app-global-header [showBack]="true" title="Task Devices" [rightIcon]="'options-outline'" [showPopOver]="true"
  (rightIconClick)="onHeaderMenuClick()" [showSecondButton]="'analytics-outline'"
  (onFirstIconClick)="analyticsReports()">
</app-global-header>

<ion-content>
  <app-global-search placeholder="Search Task" (searchChange)="onSearchValue($event)">
  </app-global-search>

  <ion-grid *ngIf="analyticsReport" class="fade-in">
    <ion-row>
      <ion-col size="4">
        <ion-card class="stat-card no-padding theme-card" mode="ios">
          <ion-card-content class="stat-body">
            <ion-icon name="cube-outline" class="stat-icon"></ion-icon>
            <div class="stat-number">48</div>
            <div class="stat-label">Total</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="stat-card stat-done no-padding" mode="ios">
          <ion-card-content class="stat-body">
            <ion-icon name="checkmark-outline" class="stat-icon"></ion-icon>
            <div class="stat-number">32</div>
            <div class="stat-label">Done</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="stat-card stat-return no-padding" mode="ios">
          <ion-card-content class="stat-body">
            <ion-icon name="refresh-outline" class="stat-icon"></ion-icon>
            <div class="stat-number">16</div>
            <div class="stat-label">Return</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-card *ngFor="let user of users; let first = first;" class="user-card theme-card" (click)="openDevicesDetails()">
    <ion-col size="2">
      <div class="icon-wrapper">
        <ion-icon name="file-tray-full"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="7" >
      <div class="user-left">
        <div class="user-info">
          <div class="name-row">
            <div class="name">{{ user.date }}</div>
            <ion-chip *ngIf="first" class="theme-chip">
              <ion-icon name="sync" size="small"></ion-icon>
              <ion-label>
                current
              </ion-label>
            </ion-chip>
          </div>

          <div class="counts">
            <span class="sep">Total: <span class="theme">{{ user.total }}</span></span>
            <span class="sep">Done: <span class="green">{{ user.done }}</span></span>
            <span class="sep">Return: <span class="purple">{{ user.return }}</span></span>
          </div>
        </div>
      </div>
    </ion-col>

    <ion-col size="3">
      <div class="user-right">
        <div class="progress-circle" [style.--percent]="user.progress + '%'">
          <div class="progress-inner">
            <div class="percent">{{ user.progress }}%</div>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-card>

</ion-content>
