ion-card.no-padding {
  margin: 4px;
}

.stat-card {
  --background: rgba(255, 255, 255, 0.03);
  background: var(--background);
}

.stat-body {
  padding: 14px;
  background: var(--secondary-color);
}

.stat-icon {
  font-size: 24px;
  opacity: 0.9;
  margin-bottom: 4px;
}

.stat-number {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color);
}

.stat-label {
  color: var(--ion-color-medium);
  font-size: 12px;
  margin-top: 4px;
}

.stat-done .stat-body {
  background: rgb(0 148 127 / 52%);
}

.stat-return .stat-body {
  background: rgb(161 120 255 / 26%);
}

.list-wrap {
  margin-top: 0px;
  padding-top: 0px;
  --padding-top: var(--ion-padding, 0px);
}

.user-card {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.user-left {
  display: flex;
  align-items: center;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 12px;
  box-shadow: 0 6px 18px #0000001c;
}

.user-info {
  min-width: 0;
}

.name-row {
  display: flex;
  align-items: center;
  height: 28px;
}

.name {
  font-weight: 500;
  font-size: 13px;
  color: var(--text-color);
}

.counts {
  font-size: 12px;
  color: var(--muted);
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.count {
  font-weight: 700;
  color: var(--text-color);
  margin-right: 4px;
}


.sep {
  color: var(--sub-title-color);
  font-weight: 400;
  font-size: 12px;
}

.user-right {
  margin-left: 12px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.progress-circle {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: conic-gradient(var(--button-color) var(--percent, 0%), #8c8c8c 0%);
  position: relative;
}

.progress-circle::before {
  content: '';
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--secondary-color);
  display: block;
}

.progress-inner {
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}


.percent {
  color: var(--text-color);
  font-weight: 700;
  font-size: 12px;
}

.fade-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInAnim 1s forwards;
}

@keyframes fadeInAnim {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon-wrapper {
    width: 40px;
    border-radius: 8px;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    padding: 14px 4px;
    justify-content: center;

    ion-icon {
        color: #fff;
        font-size: 24px !important;
    }
}

.theme-chip {
  margin: 0 0 0 12px;
  min-height: 26px;
    ion-icon {
        color: var(--button-color);
    }
}

ion-col {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
