ion-content,
ion-item,
ion-list,
ion-header,
ion-toolbar {
  --background: var(--primary-color);
  background: var(--primary-color);
}

swiper-container {
  border-radius: 16px; // your desired radius
  overflow: hidden;
}

h2 {
  color: var(--text-color);
  font-size: 18px;
  margin: 0;
}

.menu {
  --background: var(--primary-color) !important;

  ion-icon {
    color: var(--button-color);
  }
}

swiper-slide {
  height: 150px;
}

.slide-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tabs {
  --border-radius: 32px;
}

.uncheck-button {
  --background: var(--primary-color);
  box-shadow: var(--border-effect) 0px 2px 8px 0px;
  border-radius: 32px;
  color: var(--text-color);
}

.check-button {
  --background: var(--button-color);
  --background-activated: var(--button-color);
  box-shadow: var(--border-effect) 0px 2px 8px 0px;
  border-radius: 32px;
  color: #ffffff;
}

ion-card {
  --background: var(--primary-color);
  margin: 0;
  min-height: 150px;
  box-shadow: var(--border-effect) 0px 2px 8px 0px;
}

ion-card-subtitle {
  color: var(--text-color);
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
}

ion-card-header {
  padding: 8px 8px 0px;
}

p {
  color: #848484;
  text-align: start;
  padding-left: 0;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
}

ion-card-content {
  padding-left: 8px;
  padding-bottom: 8px;
}
