ion-content,
ion-item,
ion-list,
ion-header,
ion-toolbar {
  --background: var(--primary-color);
  background: var(--primary-color);
}

swiper-container {
  border-radius: 16px; // your desired radius
  overflow: hidden;
}

.profile_item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

.profile_avtar {
  width: 36px;
  height: 36px;
}

.menu {
  background: var(--secondary-color);
  border-radius: 12px !important;
  padding: 4px;
  border: 1px solid var(--card-border-color);
  fill: var(--text-color);

}

.menu-button {
  --padding-start: 0px;
  --padding-end: 0px;
  --background: transparent;
}

swiper-slide {
  height: 200px;
}

.slide-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.stat-card {
  background: var(--secondary-color);
  border-radius: 18px;
  padding: 16px;
  height: 150px;
  border: 1px solid var(--card-border-color);
}

ion-card {
  --background: var(--primary-color);
  margin: 0;
  min-height: 150px;
  box-shadow: var(--border-effect) 0px 2px 8px 0px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-box {
  background: var(--button-color);
  width: 42px;
  height: 42px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    color: var(--btn-text-color);
    font-size: 22px;
  }
}

.arrow-icon {
  color: var(--button-color);
  fill: var(--button-color);
  stroke: var(--button-color);
  font-size: 25px;
}

.card-body {
  margin-top: 20px;

  h2 {
    margin: 0;
  }

}