<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ml-15">
      <ion-item lines="none" class="profile_item">
        <ion-avatar class="profile_avtar">
          <img
            src="https://images.unsplash.com/photo-1644782983300-6e26b6a6bbaf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        </ion-avatar>
        <ion-list class="pl-7">
          <div class="ff fw600 text-16 text-color">Jhon Doe</div>
          <div class="ff fw400 text-10 sub_title_color">Repair Manager</div>
        </ion-list>
      </ion-item>
    </ion-buttons>


    <ion-buttons slot="end">

      <ion-button class="menu-button">
        <ion-icon src="assets/svg/logout.svg" class="menu"></ion-icon>
      </ion-button>

      <ion-button id="click-trigger" class="menu-button">
        <ion-icon name="ellipsis-vertical" class="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-popover trigger="click-trigger" triggerAction="click" mode="md">
      <ng-template>
        <ion-content scrollY="false">
          <ion-list>
            <ion-item (click)="changeTheme()" class="text-color">Settings</ion-item>
            <ion-item lines="none" (click)="logout()" class="text-color">Logout</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="false">

  <h2 class="mt-0 ff fw500 text-color text-14 text-margin" (click)="openModal()">{{ greeting }}! Have A Good Time</h2>

  <swiper-container #swiperEl [loop]="false" [pagination]="{ clickable: true }" [speed]="1000" [autoplay]="{
    delay: 2500,
    disableOnInteraction: false
  }" class="swiper">
    <swiper-slide *ngFor="let slide of images">
      <img class="slide-img" [src]="slide" />
    </swiper-slide>
  </swiper-container>

  <app-global-segment [segments]="['Repair', 'Quality Control', 'Clean']" (segmentChanged)="filterData($event)">
  </app-global-segment>

  <ion-grid class="mt-16">
    <ion-row>
      <!-- Given Devices -->
      <ion-col size="6">
        <ion-card class="stat-card theme-card" (click)="goTo(routes.GIVEN_DEVICES+'/'+routes.ASSIGN_DEVICES)">
          <div class="card-top">
            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex w100per">
              <div class="w80per">
                <h2 class="ff fw500 text-22 text-color">50</h2>
              </div>
              <div class="w20per text-center">
                <ion-icon src="../../../assets/svg/arrow-up-right.svg" class="arrow-icon"></ion-icon>
              </div>
            </div>
            <p class="sub_title_color text-10 fw400 ff mt-6">Given Devices</p>
          </div>
        </ion-card>
      </ion-col>

      <!-- Received Devices -->
      <ion-col size="6">
        <ion-card class="stat-card theme-card" (click)="goTo(routes.RECEIVED_DEVICES)">
          <div class="card-top">
            <div class="icon-box">
              <ion-icon name="download-outline"></ion-icon>
            </div>
          </div>

          <div class="card-body">
            <div class="d-flex w100per">
              <div class="w80per">
                <h2 class="ff fw500 text-22 text-color">38</h2>
              </div>
              <div class="w20per align-content-center text-center">
                <ion-icon src="../../../assets/svg/arrow-up-right.svg" class="arrow-icon"></ion-icon>
              </div>
            </div>
            <p class="sub_title_color text-10 fw400 ff mt-6">Received Devices</p>
          </div>
        </ion-card>
      </ion-col>

      <!-- Parts Requested -->
      <ion-col size="6">
        <ion-card class="stat-card theme-card" (click)="goTo(routes.PARTS_REQUESTED)">
          <div class="card-top">
            <div class="icon-box">
              <ion-icon name="hourglass-outline"></ion-icon>
            </div>
          </div>

          <div class="card-body">
            <div class="d-flex w100per">
              <div class="w80per">
                <h2 class="ff fw500 text-22 text-color">100</h2>
              </div>
              <div class="w20per align-content-center text-center">
                <ion-icon src="../../../assets/svg/arrow-up-right.svg" class="arrow-icon"></ion-icon>
              </div>
            </div>
            <p class="sub_title_color text-10 fw400 ff mt-6">Parts Requested</p>
          </div>
        </ion-card>
      </ion-col>

      <!-- Repair in Progress -->
      <ion-col size="6">
        <ion-card class="stat-card theme-card" (click)="goTo(routes.REPAIRS)">
          <div class="card-top">
            <div class="icon-box">
              <ion-icon name="construct-outline"></ion-icon>
            </div>
          </div>

          <div class="card-body">
            <div class="d-flex w100per">
              <div class="w80per">
                <h2 class="ff fw500 text-22 text-color">10</h2>
              </div>
              <div class="w20per align-content-center text-center">
                <ion-icon src="../../../assets/svg/arrow-up-right.svg" class="arrow-icon"></ion-icon>
              </div>
            </div>
            <p class="sub_title_color text-10 fw400 ff mt-6">Total Repair in Progress</p>
          </div>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>