<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()" class="close-button">Close</ion-button>
    </ion-buttons>

    <ion-title class="text-color text-center text-16">Parts</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()" class="done-button">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list [inset]="true" mode="ios" class="card-list theme-secondary" *ngFor="let part of [0,1,2,3,4]">
      <ion-item  mode="ios" class="card-item theme-secondary">
        <div class="icon-box">
          <ion-icon src="../../../../assets/svg/parts.svg" slot="start" class="text-color text-22"></ion-icon>
        </div>
        <ion-label class="modal-name card-title">
          <h1>{{part}} View Parts</h1>
          <p>View all parts avaible</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-list>
</ion-content>
