/* Backgrounds */
ion-content,
ion-item,
ion-list,
ion-header,
ion-toolbar {
  --background: var(--primary-color);
  background: var(--primary-color);
  padding-top: 0px !important;
  --border-color: var(--sub-title-color);
}

/* Header buttons */
.done-button {
  --background: var(--primary-color);
  --color: var(--button-color);
  text-transform: capitalize;
}

.close-button {
  --background: var(--primary-color);
  --color: #7c7c7c;
  text-transform: capitalize;
}

/* Text styles */
.modal-name {
  p {
    font-size: 12px;
    color: var(--sub-title-color);
  }

  h1 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
  }
}

.modal-emei{
  h1 {
    font-size: 14px;
    color: var(--sub-title-color);
  }

  p {
    color: var(--text-color);
    font-weight: bold;
    font-size: 12px;
  }
}

.icon-box {
  background-color: var(--button-color);
  padding: 8px 8px 4px;
  border-radius: 8px;
}

.icon-copy {
  padding: 8px 8px 4px;
  border-radius: 8px;
  background: var(--secondary-color);
  border: 1px solid color-mix(in srgb, var(--button-color) 15%, transparent);
}

.copy {
  color: var(--button-color);
}

.list-issue{
  padding: 8px 16px !important;
}

.card-list{
  border: 2px solid color-mix(in srgb, var(--button-color) 15%, transparent);
  margin: 10px 16px;
}

.card-item{
  padding: 10px 0px !important;
  color: var(--sub-title-color);
}

.card-title{
  margin-left: 10px;
  color: var(--text-color);
}

.theme-icon{
  fill: var(--text-color);
  stroke: var(--text-color);
  font-size: 30px;
  margin-top: 4px;
}

.theme-secondary{
  --background: var(--secondary-color) !important;
    background: var(--secondary-color) !important;
}

.card-item-inner{
  background: var(--primary-color) !important;
  margin: 0px 16px 12px;
  border-radius: 8px !important;
  padding: 10px !important;
}

.text-color-icon{
  color: #fff !important;
}
