ion-segment {
    --background: transparent;
    --indicator-color: var(--button-color);
    --indicator-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

ion-segment-button {
    --color: var(--text-color);
    --color-checked: white;
    --background: transparent;
}

ion-segment-button::part(indicator) {
    --indicator-color: var(--button-color);
    background: var(--button-color) !important;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}